@use '../../styles/_variables' as var

.tabs-container
    display: flex
    justify-content: space-between
    width: 100svw


    .button
        background-color: var.$color-body-background
        box-shadow: 8px 8px 12px rgb(170, 170, 204)
        width: 76px
