
//Skip / Back button colors    
$color-button-background: #57419D
$color-button-text: #fff

//Tag button colors:
$color-tag-button-background: #F5F5FA
$color-tag-button-text: #7878AB

//Nav button colors:
$color-nav-button-background: #F5F5F9
$color-nav-button-text-inactive: #bdbdbd
$color-nav-button-text-active: #5533EA

//Notification button colors:
$color-noti-button-background: #F5F5F9
$color-noti-button-text-active: #5533EA