@use '../../styles/_variables' as var

.header
    display: flex
    justify-content: space-between

    &__avatar-wrapper
        display: flex
        align-items: center
        

    .button
        border-radius: 50%
        box-shadow: 8px 8px 20px rgba(170, 170, 204, 1)

        &--small
            padding: 0.5rem 0.8rem

    .chevron
        color: var.$color-button-background